* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover, button:hover {
    cursor: pointer;
}

/* CABEÇALHO */
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    box-shadow: 5px 0px 4px darkgray;
}

.icone {
    width: 100px;
    padding: 20px 100px;
}

.botoes {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

header button {
    color:#ff5c5c;
    padding: 10px 20px;
    background-color: white;
    border-radius: 4px;
    border-color: #ff5c5c;
    border-style: solid;
    font-size: bold;   
}

h4 {
    color: #494c4e;
}

/* PRIMEIRA SEÇÃO */

.primeira-secao {
    width: 100%;
    height: 100vh;
}

.primeira-secao > video {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.conteudo-primeira-secao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;
    justify-items: center;
    padding: 10px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
}

.titulo-lema {
    color: white;
    font-size: 80px;
    font-weight: 700;
    margin-top: 100px;
    text-shadow: 2px 2px 2px black;
}

.reserva {
    margin-top: 85px;
}

.titulo-formulario {
    color: white;
    font-size: 34px;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
}

#CEP, #email {
    width: 220px;
    padding: 8px;
    border: 1px darkgray solid;
    border-radius: 4px;
    margin: 3px 0;
}

.texto-datas-formulario {
    width: 245px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px 40px;
}

#data-retirada, #data-devolucao {
    width: 95px;
    padding: 8px;
    border: 1px darkgray solid;
    border-radius: 4px;
    margin: 3px 0;
    align-self: center;
}

form > button {
    margin: 3px 0;
    color: white;
    width: 236px;
    padding: 8px;
    background-color: #ff5c5c;
    border: 1px #ff5c5c solid;
    border-radius: 4px;
    box-shadow: 6px 6px 24px 1px rgba(0, 0, 0, 0.2);
}

form > button:active {
    transform: scale(0.98);
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
}