* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover, button:hover {
    cursor: pointer;
}

/* CABEÇALHO */
header {

    position: fixed;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    box-shadow: 5px 0px 4px darkgray;
    width: 100%;
}

.icone {
    width: 100px;
    padding: 20px 100px;
}

.botoes {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.botoes a{
    text-decoration: none;
}
header button {
    color:#FF1155;
    padding: 10px 20px;
    background-color: white;
    border-radius: 4px;
    border-color: #FF1155;
    border-style: solid;
    font-size: bold;   
}

h4 {
    color: #494c4e;
}

/* PRIMEIRA SEÇÃO */

.primeira-secao {
    width: 100%;
    height: 100vh;
}

.primeira-secao > video {
    position: absolute;
    width: 100%;
    z-index: -1;
    overflow: cover;
}

.conteudo-primeira-secao {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background: rgba(255, 255, 255, 0.3);
}

.titulo-lema {
    color: white;
    font-size: 5em;
    font-weight: 700;
    margin-top: 10%;
    text-shadow: 2px 2px 2px black;
}

.reserva {
    margin-top: 9%;
}

.titulo-formulario {
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
}

#CEP, #email {
    width: 220px;
    padding: 8px;
    border: 1px darkgray solid;
    border-radius: 4px;
    margin: 3px 0;
}

.texto-datas-formulario {
    width: 245px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px 40px;
}

#data-retirada, #data-devolucao {
    width: 95px;
    padding: 8px;
    border: 1px darkgray solid;
    border-radius: 4px;
    margin: 3px 0;
    align-self: center;
}

form > button {
    margin: 3px 0;
    color: white;
    width: 236px;
    padding: 8px;
    background-color: #FF1155;
    border: 1px #FF1155 solid;
    border-radius: 4px;
    box-shadow: 6px 6px 24px 1px rgba(0, 0, 0, 0.2);
}

form > button:active {
    transform: scale(0.98);
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
}

/* PLANOS */

#secaoPlanos {
    width: 100%;
    margin: 12px 0;
    height: max-content;
    margin-bottom: 3%;
    border-top: 1px dotted #FF1155;
}

#secaoPlanos > h1 {
    color: #FF1155;
    padding: 20px 0;
    text-align: center;
    text-shadow: 1px 1px 1px #494c4e;
    text-decoration: underline #FF1155;
    text-transform: uppercase;
}

.todosPlanos {
    width: 100%;
    display: grid;
    padding: 12px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    height: fit-content;
}

.plano {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 24px 24px 48px 24px;
    align-items: center;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.plano > h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #FF1155;
}

.textoPlano {
    display: flex;
    gap: 8px;
}

.simboloOk {
    color: #FF1155;
}

.plano > button {
    margin: 3px 0;
    color: white;
    width: 236px;
    padding: 8px;
    background-color: #FF1155;
    border: 1px #FF1155 solid;
    border-radius: 4px;
    box-shadow: 6px 6px 24px 1px rgba(0, 0, 0, 0.2);
}

.plano > button:active {
    transform: scale(0.98);
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
}

/* SLIDER */

section {
    height: 100vh;
    width: 100vw;
}

.carrossel {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    transform: translate(0, 0);
    margin: 1% auto;
}

.navegaçao {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.bar:hover {
    background-color: white;
}

.slides input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}


/* QUEM SOMOS E FAQ */

.quem-somos-faq {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    padding: 20px;
    gap: 16px;
    text-align: justify;
    margin-top: 1%;
    border-top: 1px #FF1155 dotted;
}

.titulo-quem-somos-faq {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: #FF1155;
    text-decoration: underline;
}

.titulo-quem-somos-faq > img {
    width: 32px;
    
}

.quem-somos {
    padding: 24px;
}

.faq {
    padding: 24px;
    border-left: 1px #FF1155 dotted;
}

.faq > ol > h3 {
    color: #FF1155;
}

/* RODAPÉ*/
footer{
    background-color: #FF1155;
    
}

.rodape{
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    color: white;
    line-height: 50px;
    padding-bottom: 100px;
}

ol{
    list-style: none;
}

ol p{
    font-size: smaller;
}
ol img{
    padding-right: 20px;
}

.marca-rodape{
    width: 10%;
    margin-left: 190px;

    margin-top: 70px;
    margin-bottom: 50px;
}
